{{> header}}
<div class="carrito">
    <ul>
        {{#each products}}
            <li>
                <img src="{{this.product.thumbnails}}" alt="{{this.product.title}}" class="carrito-img">
                <p class="carrito-text">{{this.product.title}}</p>
                <p class="carrito-text">${{this.product.price}}</p>
                <button class="boton carrito-boton" onclick="eliminarProductoDelCarrito('{{this.product._id}}')">Eliminar</button>
            </li>
        {{/each}}
    </ul>
    <button id="payment">Pagar</button>
</div>

<script src="/js/cart.js"></script>
<script src="/js/payment.js"></script>