<header class="header">
    <nav>
        <h1 class="titulo">detalles del producto</h1>
        <div class="enlaces">
            <a href="/products" class="enlace">productos</a>            
            <a href="/carts" class="enlace">carrito</a>
            <a href="/realtimeproducts" class="enlace">realtimeproducts</a>
            <a href="/chat" class="enlace">chat</a>
            <a href="/profile" class="enlace">perfil</a>
        </div>
    </nav>
</header>
<div class="prod-details">
    <div >
        <img src="{{product.thumbnails}}" alt="{{product.title}}" class="img">
    </div>
    <div>
        <h1>{{product.title}}</h1>
        <p>${{product.price}}</p>
        <p>{{product.category}}</p>
        <p><button class="boton" onclick="agregarProductoAlCarrito('{{product._id}}')">Agregar</button></p>

    </div>
</div>

<script src="/js/cart.js"></script>