{{> header}}

<div class="">
    <h1 class="sub-titulo">Agregar Productos</h1>
    <form method="post" action="/prods" class="formulario">
        <div>
            <input type="text" class="casilleros" id="thumbnails" name="Url" placeholder="URL del Producto...">
        </div>
        <div>
            <input type="text" class="casilleros" id="title" name="Producto" placeholder="Nombre del Producto...">
        </div>
        <div>
            <input type="text" class="casilleros" id="price" name="Precio" placeholder="Precio del Producto...">
        </div>
        <input type="button" class="boton" id="submitButton" value="Agregar">
        <h2>Eliminar Productos</h2>
    </form>

    <ul id="productList" class="realtime-products">
        {{#each products}}
        <li id="product-{{this._id}}" class="product">
            <img src={{this.thumbnails}} alt={{this.title}}>
            <span>Producto: {{this.title}} - Stock: {{this.stock}} - Descripción: {{this.description}}</span>
            <button class="delete-button" data-id="{{this._id}}">Eliminar</button>
            <button class="edit-button" data-id="{{this._id}}">Editar</button>
        </li>
        {{/each}}
    </ul>

</div>
<script src="socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>
