<header class="header">
    <nav>
        <h1 class="titulo">RealTimeProducts</h1>
        <div class="enlaces">
            <a href="/products" class="enlace">productos</a>            
            <a href="/carts" class="enlace">carrito</a>
            <a href="/realtimeproducts" class="enlace">realtimeproducts</a>
            <a href="/chat" class="enlace">chat</a>
            <a href="/profile" class="enlace">perfil</a>
        </div>
    </nav>
</header>
<main>
    <div >
        <h1 class="sub-titulo">Agregar Productos</h1>
        <form method="post" action="/prods" class="formulario-realtime">
            <input type="text" class="casilleros" id="thumbnails" name="Url" placeholder="URL del Producto..." required>
            <input type="text" class="casilleros" id="title" name="Producto" placeholder="Nombre del Producto..." required>
            <input type="number" class="casilleros" id="price" name="Precio" placeholder="Precio del Producto..." required>
            <input type="text" class="casilleros" id="description" name="description" placeholder="Descripción..." required>
            <input type="number" class="casilleros" id="code" name="code" placeholder="Código..." required>
            <input type="number" class="casilleros" id="stock" name="stock" placeholder="Stock..." required>



            <button class="boton" id="submitButton">Agregar</button>
        </form>

        <ul id="productList" class="realtime-prod">
            {{#each products}}
            <li id="product-{{this._id}}" class="product">
                <img src={{this.thumbnails}} alt={{this.title}} class="img">
                <span>Producto: {{this.title}} - Stock: {{this.stock}} - Descripción: {{this.description}}</span>
                <button class="delete-button" data-id="{{this._id}}">Eliminar</button>
                <button class="edit-button" data-id="{{this._id}}">Editar</button>
            </li>
            {{/each}}
        </ul>
    </div>
</main>
<script src="socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>
<script src="/js/cart.js"></script>
