<div class="">
    <div class="">
        <img src="{{product.thumbnails}}" alt="{{product.title}}" class="img-fluid">
    </div>
    <div class="">
        <h1 class="">{{product.title}}</h1>
        <p class="">${{product.price}}</p>
        <p><button class="" onclick="agregarProductoAlCarrito('{{product._id}}')">Agregar (+)</button></p>
        <p class="">{{product.description}}</p>
    </div>
</div>

<script src="../../public/js/products.js"></script>